$designWidth:37.5px;
@function torem($px) {
	@return $px / $designWidth* 1rem;
}

@mixin fz($font-size) {
	font-size: $font-size;
	[data-dpr="2"] & {
		font-size: $font-size * 2;
	}
	[data-dpr="3"] & {
		font-size: $font-size * 3;
	}
}